* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 16px;
    background-color: #fcfbf7;
}

h1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 32px;
    color: #1a1a1a;
}

h2 {
    padding-bottom: 48px;
    text-align: center;
    color: #333333;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 154px;
}

.player-board .row, .cpu-board .row {
    display: grid;
    grid-template-columns: repeat(10, 35px);
    grid-template-rows: 35px;
}

.player-board .row div, .cpu-board .row div {
    border: 1px solid #c5d1c7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cpu {
    display: none;
}

.intro-msg {
    font-size: 20px;
    text-align: center;
}

.game-intro {
    display: block;
}

.cordinate-text {
    display: block;
    margin-top: 24px;
    padding: 4px 8px;
    font-size: 16px;
    font-family: inherit;
    width: 320px;
}

.start-game, button {
    display: block;
    font-size: 16px;
    font-family: inherit;
    padding: 8px 16px;
    margin: 0 auto;
    margin-top: 24px;
}

.start-game-container {
    display: none;
    align-self: center;
}

.occupied, .pre-occupied {
    /* border: 1px solid #6d8b74 !important; */
    background-color: #6D8B74 !important;
}

.hit {
    /* border: 1px solid #ffa4a4 !important; */
    background-color: #ff5b5b !important;
}

.miss {
    /* border: 1px solid #bac7ca !important; */
    background-color: #bac7ca !important;
}

.cpu-board .row div {
    cursor: pointer;
}

.game-over-container {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

.error {
    background-color: red !important;
}

.game-over-info-contents {
    background-color: white;
    padding: 4em 8em;
}

.play-turns {
    text-align: center;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    margin-top: 40px;
    color: #333333;
    display: none;
}

.labelling p {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-one, .cpu{
    position: relative;
}

.hori {
    position: absolute;
    bottom: 0;
    left: -35px;
}

.vert {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(10, auto);
    top: 40px;
}
